<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title fxLayout="column">Upload File</mdc-dialog-title>
      <mdc-dialog-content>
          <div class="message" *ngIf="(isReady$ | async) || (hasFailed$ | async)">
              <input #file type="file" multiple (change)="uploadFile($event)" />
            </div>

            <div class="message" *ngIf="(isInProgress$ | async)">
              <div style="margin-bottom: 14px;">Uploading... {{ progress$ | async }}%</div>
            </div>

            <div class="message" *ngIf="(isInProgress$ | async)">
              <button (click)="cancelUpload()">Cancel Upload</button>
            </div>

            <div class="message" *ngIf="(completed$ | async)">
              <h4>
                <div>File has been uploaded successfully!</div>
                <div>Path: {{ filePath$ | async }}</div>
              </h4>
              <button (click)="resetUpload()">Upload Another File</button>
            </div>

            <div class="message error" *ngIf="(hasFailed$ | async)">
              Error: {{ error$ | async }}
            </div>
      </mdc-dialog-content>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>

