
<div fxLayoutAlign="center">
  <mdc-card fxFlex.xs="100%" fxFlex="600px" style="padding: 1rem;"  >
  <div fxLayout="column" >
    <div  fxLayout="row" fxLayoutAlign="center" >
      <app-timer-canvas></app-timer-canvas>
      <app-timer-control  *ngIf="(isAuth$ | async) && (currentTimer$ | async) "></app-timer-control>
    </div>
    <mdc-list-divider  *ngIf="(isAuth$ | async)  && (currentTimer$ | async)" ></mdc-list-divider>
    <div mdcHeadline6   *ngIf="(isAuth$ | async)  && (currentTimer$ | async)">Fases</div>
    <app-phases-list  fxLayoutAlign="center"  *ngIf="(isAuth$ | async)  && (currentTimer$ | async)"></app-phases-list>
  </div>
  </mdc-card>
</div>
<br>
<app-timer-view fxLayoutAlign="center" *ngIf="(currentTimer$ | async) && (currentTimer$ | async).timer_type !=='Classification_timer'"></app-timer-view>


