<mdc-dialog>
    <mdc-dialog-container>
      <mdc-dialog-surface>
        <mdc-dialog-title>Add Playoff End</mdc-dialog-title>
        <mdc-dialog-content style="padding-top:10px;">
          <form [formGroup]="endForm" id="endForm" (ngSubmit)="submit()" autocomplete="off">
            <mdc-form-field fluid *ngIf="endForm.controls['finalEnd'].value === false" >
              <mdc-text-field
                type="number"
                formControlName="minNumber"
                label="Goal Number"
                outlined
                number
                pattern="\d+"
              ></mdc-text-field>
              <mdc-helper-text validation>*required</mdc-helper-text>
            </mdc-form-field>
            <mdc-form-field >
                <mdc-checkbox
                  type="bool"
                  formControlName="useDoubleTurn"
                  label="Double Turn"
                  outlined
                ></mdc-checkbox>
                <label>Double Turn</label>
            </mdc-form-field>
            <mdc-form-field >
              <mdc-checkbox
                type="bool"
                formControlName="finalEnd"
                label="Desempate Final"
                outlined
              ></mdc-checkbox>
              <label>Desempate Final</label>
          </mdc-form-field>
          </form>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <mdc-linear-progress *ngIf="(isLoading$ | async)"></mdc-linear-progress>
          <button mdcDialogButton mdcDialogAction="close">Cancel</button>
          <button mdcDialogButton form="endForm">Create</button>
        </mdc-dialog-actions>
      </mdc-dialog-surface>
    </mdc-dialog-container>
  </mdc-dialog>

