.timer_buttons {
  display: flex;
  flex-flow: row wrap;
  margin-top: .8rem;
  padding: 1rem;

}
// display: flex;
// flex-direction: row;
// align-items: center;
// justify-content: flex-start;
// height: 100%;
// max-width: 100%;
// width: 100%;
// overflow: auto;
// margin:1rem;

// .demo-layout__row {
//   display: flex;
//   flex-flow: row wrap;
//   margin-top: .8rem;
// }

