<div class="timer_buttons">
  <div *ngIf="!(finished$ | async)"  fxLayout fxLayout="column" fxLayoutGap="10px">
    <button *ngIf="(runningStatus$ | async) != RunningStatus.Running" mdc-button primary raised (click)="onPlay()">
      <mdc-icon >play_arrow</mdc-icon>Play
    </button>
    <button *ngIf="(runningStatus$ | async) == RunningStatus.Running" mdc-button primary raised  (click)="onPause()">
      <mdc-icon>pause</mdc-icon>Pause
    </button>
    <button *ngIf="canEndPhase$ | async" mdc-button outlined  (click)="onEndPhase()">
      <mdc-icon>skip_next</mdc-icon>Next
    </button>
  </div>
  <button *ngIf="canCreateEnd$ | async" mdc-button outlined  (click)="onNewEnd()">
    <mdc-icon>add</mdc-icon>Nueva entrada
  </button>
</div>
