<section>
  <div fxLayout="column" *ngIf="(isLoading$ | async) && !(currentTimer$ | async)">
    <mdc-linear-progress></mdc-linear-progress>
    <h3 mdcHeadline3 class="current-timer-title">Cargando</h3>
  </div>
  <div>
    <app-timer-viewer></app-timer-viewer>
  </div>
  <br>
  <div fxLayout="column" *ngIf="!(currentTimer$ | async) && !(isLoading$ | async)">
    <h3 mdcHeadline3 class="current-timer-title">No hay ningún cronómetro funcionando</h3>
    <div fxLayoutAlign="center">
      <a *ngIf="(isAuth$ | async)" routerLink="/timer/generate" mdc-button primary raised>Crear uno nuevo</a>
      <a *ngIf="!(isAuth$ | async)" routerLink="/auth/login" mdc-button primary raised>Iniciar Sesion</a>
    </div>
    </div>
</section>
