.current-timer-title {
  width: 100%;
  align-content: center;
  text-align: center;
}
.wrapper {
  width: 100%;
  background-color: aqua;
}

.new-timer-button {
  align-content: center;
  display: inline-block;
}


