<mdc-list-group>
  <mdc-list  dense class="timer-list--custom" singleSelection >
      <!-- <h3 mdcListGroupSubheader mdcHeadline6>Plantillas</h3> -->
    <mdc-list-item mdcHeadline6
      *ngIf="(timerList$ | async).length > 0"
      (selectionChange)="savedVisible = !savedVisible">
      Saved Timers
      <mdc-icon mdcListItemMeta>keyboard_arrow_{{savedVisible ? 'down' :
        'right'}}</mdc-icon>
    </mdc-list-item>
    <div *ngIf="savedVisible">
    <mdc-list-item *ngFor="let timer of (timerList$ | async)" [value]="timer" (click)="onLoadTimer(timer)">
        <mdc-icon mdcListItemGraphic>alarm</mdc-icon>
        <mdc-list-item-text>{{timer.timer.name}} R{{timer.order.num_rounds}} E{{timer.order.num_ends}}  L{{timer.timer.letters}} N{{timer.timer.number}}
            <!-- <mdc-list-item-secondary>
              Position: R{{timer.order.round}} E{{timer.order.end}} p{{timer.order.phase}} n{{timer.order.number}}
            </mdc-list-item-secondary> -->
        </mdc-list-item-text>
        <button mdcListItemMeta mdc-icon-button icon="delete" (click)="onDeleteTimer(timer); $event.stopPropagation()" ></button>
      </mdc-list-item>
    </div>

    <mdc-list-item mdcHeadline6
          (selectionChange)="tournamentVisible = !tournamentVisible">
          Torneo
          <mdc-icon mdcListItemMeta>keyboard_arrow_{{tournamentVisible ? 'down' :
            'right'}}</mdc-icon>
    </mdc-list-item>
    <div *ngIf="tournamentVisible">
      <mdc-list-item *ngFor="let template of tournamentTemplates"  [value]="template" (click)="onSelectTemplate(template)">
          <mdc-icon mdcListItemGraphic>alarm</mdc-icon>
          {{template.name}}
      </mdc-list-item>
    </div>

    <mdc-list-item mdcHeadline6
      (selectionChange)="warmingVisible = !warmingVisible">
      Calentamiento
      <mdc-icon mdcListItemMeta>keyboard_arrow_{{warmingVisible ? 'down' :
        'right'}}</mdc-icon>
    </mdc-list-item>
    <div *ngIf="warmingVisible">
      <mdc-list-item *ngFor="let template of warmingTemplates"  [value]="template" (click)="onSelectTemplate(template)">
          <mdc-icon mdcListItemGraphic>alarm</mdc-icon>
          {{template.name}}
      </mdc-list-item>
    </div>

    <mdc-list-item mdcHeadline6
      (selectionChange)="playoffVisible = !playoffVisible">
      Eliminatoria
      <mdc-icon mdcListItemMeta>keyboard_arrow_{{playoffVisible ? 'down' :
        'right'}}</mdc-icon>
    </mdc-list-item>
    <div *ngIf="playoffVisible">
      <mdc-list-item *ngFor="let template of playoffTemplates"  [value]="template" (click)="onSelectTemplate(template)">
          <mdc-icon mdcListItemGraphic>alarm</mdc-icon>
          {{template.name}}
      </mdc-list-item>
    </div>

    <mdc-list-item mdcHeadline6
      (selectionChange)="variousVisible = !variousVisible">
      Varios
      <mdc-icon mdcListItemMeta>keyboard_arrow_{{variousVisible ? 'down' :
        'right'}}</mdc-icon>
    </mdc-list-item>
    <div *ngIf="variousVisible">
      <mdc-list-item *ngFor="let template of variousTemplates"  [value]="template" (click)="onSelectTemplate(template)">
          <mdc-icon mdcListItemGraphic>alarm</mdc-icon>
          {{template.name}}
      </mdc-list-item>
    </div>

  </mdc-list>
</mdc-list-group>
