
<div
  fxLayout
  fxLayoutAlign="center center"
  fxLayoutGap="10px">
    <mdc-card  fxFlex.xs="100%" fxFlex="800px" style="padding: 1rem;"  >
      <mdc-image-list  class="standard-image-list" textProtection="false">
        <mdc-image-list-item  style=" margin:8px;" *ngFor="let club of (clubs$ | async)" (click) = "editClub(club)">
          <mdc-image-list-image-aspect>
            <img mdcImageListImage [src]="getImageUrl(club.image_path)" class="proportional-image"/>
          </mdc-image-list-image-aspect>
          <mdc-image-list-supporting>
            <span mdcImageListLabel>{{club.name}}</span>
          </mdc-image-list-supporting>
        </mdc-image-list-item>
      </mdc-image-list>
      <button *ngIf="(isAuth$ | async)" mdc-fab position='bottomRight' icon="add" (click)="onAddClub()"></button>
  </mdc-card>
</div>


