@import 'app';

.standard-image-list {
  // @include mdc-image-list-aspect(1.5); // Images are 3:2
  @include mdc-image-list-standard-columns(8);
  
}

@media (max-width: 599px) {
  .standard-image-list {
    @include mdc-image-list-standard-columns(5);
  }
}

.image-list--rounded-corners {
  @include mdc-image-list-shape-radius(8px);
}

.proportional-image {
    object-fit: contain;
    width:100%;
    height:100%;
}


.demo-card {
  // width: 350px;
  margin: 28px;
}

// .demo-card--photo {
//   width: 200px;
// }
.demo-card__music-info {
  display: flex;
  padding: 8px 16px;
}
