<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Select a Club</mdc-dialog-title>
      <mdc-dialog-content>
        <mdc-list avatar>
          <mdc-list-item *ngFor="let club of (clubs$ | async)" (click)="closeDialog(club)" cdkInitialFocus>
              <img mdcListItemGraphic [src]="getImageUrl(club.image_path)">{{club.name}}
          </mdc-list-item>
        </mdc-list>
      </mdc-dialog-content>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
