<section class="panel_color"
  style="min-height:600px">
  <form [formGroup]="soundForm"
        id="soundForm"
        autocomplete="off"
        fxLayout
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        (ngSubmit)="onSoundEdited()"
  >
    <mdc-card fxFlex.xs="100%" fxFlex="400px" style="padding: 1rem;">
      <div fxLayoutAlign="center" class="new-timer__primary">
        <h2 class="new-timer__title" mdcHeadline6>Panel Sound</h2>
      </div>
      <div style="margin-bottom:20px">
      <mdc-form-field fluid >
        <mdc-select outlined
                    formControlName="sound_name"
                    placeholder="Nombre"
                    >
          <option *ngFor="let sound_name of sounds" [value]="sound_name" >
            {{sound_name}}
          </option>
        </mdc-select>
      </mdc-form-field>
      </div>
      <div fxLayoutGap="10px">
        <mdc-form-field fluid fxFlex="50">
           <mdc-text-field
             type="number"
             formControlName="speed"
             label="Speed"
             outlined
             step="0.1"
             number

           ></mdc-text-field>
           <mdc-helper-text validation>*Required</mdc-helper-text>
         </mdc-form-field>
         <mdc-form-field fluid fxFlex="50">
           <mdc-text-field
             type="number"
             formControlName="delay"
             label="Delay(ms)"
             outlined
             number
           ></mdc-text-field>
         </mdc-form-field>
       </div>
      <mdc-card-actions>
        <mdc-linear-progress *ngIf="(isLoading$ | async)"></mdc-linear-progress>
          <mdc-card-action-buttons *ngIf="!(isLoading$ | async)">
            <button mdc-button mdcCardAction="button" type="submit" mat-button [disabled]="!soundForm.valid">Save</button>
          </mdc-card-action-buttons>
          <mdc-card-action-icons *ngIf="!(isLoading$ | async)">
              <button mdcIconButton  type="button" mdcCardAction="icon" (click)="onTest()" class="demo-icon-button-primary">
                  <mdc-icon>play_arrow</mdc-icon>
              </button>
          </mdc-card-action-icons>
        </mdc-card-actions>
      </mdc-card>
  </form>
</section>
