<section class="new-timer"
  style="min-height:600px">
  <form
    fxLayout
    fxLayoutAlign="center top"
    fxLayoutGap="10px"
    (ngSubmit)="onUpdateColors(f)"
    #f="ngForm"
    >
    <mdc-card fxFlex.xs="100%" fxFlex="400px" style="padding: 1rem;">
      <div fxLayoutAlign="center" class="new-timer__primary">
        <h2 class="new-timer__title" mdcHeadline6>Panel Colors</h2>
      </div>
      <div fxLayoutGap="10px">
        <mdc-form-field *ngFor="let color of colors2">
            <mdc-text-field
            [label]="color.name"
            [(ngModel)]="color.color"
            [name]="color.name"
            outlined
            readonly
          ></mdc-text-field>
          <input class="color_picker"
          [style.background]="color.color"
          [(colorPicker)]="color.color"
          (colorPickerChange)="color.color=$event"
          [cpOutputFormat]="'hex'"
          [cpAlphaChannel]="'always'"
          readonly
          />
        </mdc-form-field>
      </div>
      <mdc-card-actions>
            <mdc-linear-progress *ngIf="(isLoading$ | async)"></mdc-linear-progress>
            <button *ngIf="!(isLoading$ | async)" mdc-button type="submit" mat-button [disabled]="f.invalid">
            Update
          </button>
          <button *ngIf="!(isLoading$ | async)" mdc-button mat-button [disabled]="f.invalid" type="button" (click)="onDefaultValues()">
            Defaults
          </button>
      </mdc-card-actions>
    </mdc-card>
  </form>
</section>

