<mdc-list>
    <a mdc-list-item *ngIf="(isAuth$ | async) && !(isTimerRunning$ | async)" (click)="onClose()" routerLink="/timer/generate">Load</a>
    <a mdc-list-item *ngIf="(isAuth$ | async) && !(isTimerRunning$ | async)"  (click)="onClear()">Clear</a>
    <a mdc-list-item *ngIf="!(isAuth$ | async) && !(isInLogin$ | async)" (click)="onClose()" routerLink="/auth/login"  >Login</a>
    <a mdc-list-item *ngIf="(isAuth$ | async)" (click)="onClose()" (click)="onLogout()">Logout</a>
    <a mdc-list-item *ngIf="(isAuth$ | async)" (click)="onClose()" routerLink="/timer/colors" >Colors</a>
    <a mdc-list-item *ngIf="(isAuth$ | async)" (click)="onClose()" routerLink="/timer/sound" >Sounds</a>
    <a mdc-list-item *ngIf="(isAuth$ | async)" (click)="onClose()" routerLink="/timer/log" >Logs</a>
    <mdc-list-divider></mdc-list-divider>
    <a mdc-list-item *ngIf="(isAuth$ | async)" (click)="onClose()" routerLink="/swagger" >API</a>
    <mdc-list-item>Version: {{version}}</mdc-list-item>
</mdc-list>
