  <mdc-card *ngIf="currentOrder$ | async as co" fxFlex.xs="100%" fxFlex="600px" style="padding: 1rem;">
    <div *ngIf="!co.finished" fxLayout="row"  style="text-align: center" [ngStyle]="{color: co.number_color}">
      <div mdcHeadline5> {{co.number | number:'2.1-1'}}  {{co.turn1}}{{co.turn2}} End {{co.end + 1}}/{{co.num_ends}}  Round {{co.round + 1}}/{{co.num_rounds}}</div>
    </div>
    <div *ngIf="co.finished" >
      <div mdcHeadline4>{{co.text}}</div>
    </div>
</mdc-card>

