
<mdc-chip-set choice>
  <mdc-chip  secondary disableRipple removable="false"
    *ngFor="let phase of (phasesList$ | async); let i = index"
    [ngClass]="{current_phase: i===(selectedItem$ | async)}"
    [selected]="i>(selectedItem$ | async)"
    (selectionChange)="onChipInteraction($event)"
    value="{{i}}">
    <mdc-chip-text>{{i + 1}} {{phase}}</mdc-chip-text>
  </mdc-chip>
</mdc-chip-set>
