<mdc-dialog>
    <mdc-dialog-container>
      <mdc-dialog-surface>
        <mdc-dialog-title fxLayout="column">Set Order</mdc-dialog-title>
        <mdc-dialog-content  >
          <form style="padding-top:10px;"
                [formGroup]="orderForm"
                id="orderForm"
                (ngSubmit)="submit()"
                autocomplete="off"
                >
              <mdc-form-field fluid>
                <mdc-select outlined
                            #round
                            placeholder="Round"
                            formControlName="round"
                            [helperText]="reactiveHelperRound"
                            (valueChange)="onRoundChange($event)">
                  <option *ngFor="let round of timer.rounds; let i = index" [value]="i" >
                    {{round.name}}
                  </option>
                </mdc-select>
                <mdc-select-helper-text #reactiveHelperRound validation>
                  <span *ngIf="orderForm.controls['round'].hasError('required')">Selection
                    is required</span>
                </mdc-select-helper-text>
              </mdc-form-field>
              <mdc-form-field fluid >
                <mdc-select outlined #end placeholder="End" formControlName="end"
                            [helperText]="reactiveHelperEnd"
                            (valueChange)="onEndChange($event)">
                  <option *ngFor="let end of getEnds(); let i = index" [value]="i" >
                    {{end }}
                  </option>
                </mdc-select>
                <mdc-select-helper-text #reactiveHelperEnd validation>
                  <span *ngIf="orderForm.controls['end'].hasError('required')">Selection
                    is required</span>
                </mdc-select-helper-text>
              </mdc-form-field>
              <mdc-form-field fluid>
                <mdc-select outlined #phase placeholder="Phase"
                            floatLabel="true"
                            formControlName="phase"
                            [helperText]="reactiveHelperPhase"
                            (valueChange)="onPhaseChange($event)">
                  <option *ngFor="let phase of getPhases(); let i = index" [value]="i" >
                    {{phase.name}}
                  </option>
                </mdc-select>
                <mdc-select-helper-text #reactiveHelperPhase validation>
                  <span *ngIf="orderForm.controls['phase'].hasError('required')">Selection
                    is required</span>
                </mdc-select-helper-text>
              </mdc-form-field>
              <mdc-form-field fluid>
                <mdc-text-field
                  type="number"
                  formControlName="number"
                  label="Time(s)"
                  outlined
                  number
                  pattern="\d+"
                ></mdc-text-field>
                <mdc-helper-text validation>*value not in interval {{minNumber}} - {{maxNumber}}</mdc-helper-text>
              </mdc-form-field>
          </form>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <mdc-linear-progress *ngIf="(isLoading$ | async)"></mdc-linear-progress>
          <button mdcDialogButton mdcDialogAction="close">Cancel</button>
          <button mdcDialogButton form="orderForm">Load</button>
        </mdc-dialog-actions>
      </mdc-dialog-surface>
    </mdc-dialog-container>
  </mdc-dialog>

