<form [formGroup]="classificationForm"
  fxLayout
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
  (ngSubmit)="onLoadClassification()"
>

  <mdc-card fxFlex.xs="100%" fxFlex="600px" style="padding: 1rem;">
    <div fxLayoutAlign="center" >
          <h2 class="new-classification__title" mdcHeadline6> {{classificationForm.controls.name.value}}</h2>
    </div>
    <div >
      <button  mdc-button primary type="button" (click)="addDivision()">Add Division</button>
    </div>
    <mdc-list-divider style="margin-top:1em;"></mdc-list-divider>
    <div>
      <div style="margin-top:1em;" *ngFor="let division of divisions?.controls; let i = index">
          <app-division [index]="i" [divisionForm]="division" (deleteDivision)="deleteDivision($event)"></app-division>
          <mdc-list-divider></mdc-list-divider>
      </div>
  </div>
    <mdc-card-actions>
        <button mdc-button type="submit" mat-button [disabled]="classificationForm.invalid" >
        Create
      </button>
      <mdc-card-action-icons>
        <button  mdc-button mat-button type="button" (click)="fileInput.click()">
          Load CSV
        </button>
        <input type="file"
        #fileInput
        name="File Upload"
        (change)="fileChangeListener($event)"
        style="display:none;"
        accept=".csv"/>
      </mdc-card-action-icons>
    </mdc-card-actions>
  </mdc-card>
</form>


