<form [formGroup]="divisionForm" fxLayoutGap="10px grid">
    <div fxLayout="row" fxLayoutGap="10px">
      <mdc-form-field fluid fxFlex="74%" >
          <mdc-text-field
          formControlName="name"
          label = "Division"
          outlined
        ></mdc-text-field>
      </mdc-form-field>
      <mdc-form-field fluid fxFlex="12%" >
        <mdc-text-field
        formControlName="order"
        label = "#"
        outlined
        type="number"
        pattern="\d+"
      ></mdc-text-field>
    </mdc-form-field>

      <button mdc-icon-button icon="delete" type="button" (click)="delete()"></button>
    </div>
    <div fxLayout="row" fxLayoutGap="10px grid">
      <mdc-form-field fluid fxFlex="12%" >
          <mdc-text-field
          formControlName="firstOrder"
          outlined
          readonly
          type="number"
          pattern="\d+"
        ></mdc-text-field>
      </mdc-form-field>
      <mdc-form-field fluid fxFlex="38%">
          <mdc-text-field
          formControlName="firstContender"
          label = "Name"
          outlined
        ></mdc-text-field>
      </mdc-form-field>

      <mdc-form-field  fluid fxFlex="38%" >
        <mdc-text-field
        formControlName="firstClub"
        label = "Club"
        outlined
        readonly
        (click)= "onClub('firstClub')"
        >
        </mdc-text-field>
      </mdc-form-field>
      <mdc-form-field fxFlex="10%" fxFlexAlign="center center">
        <img  *ngIf="divisionForm.value.firstClub" mdcSelectIcon [src]="divisionForm.value.firstClubUrl" class="proportional-image">
      </mdc-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px grid" *ngIf="divisionForm.value.firstContender">
        <mdc-form-field fluid fxFlex="12%">
            <mdc-text-field
            formControlName="secondOrder"
            outlined
            readonly
            type="number"
            pattern="\d+"
          ></mdc-text-field>
        </mdc-form-field>
        <mdc-form-field fluid fxFlex="38%" >
            <mdc-text-field
            formControlName="secondContender"
            label = "Name"
            outlined
          ></mdc-text-field>
        </mdc-form-field>
        <mdc-form-field  fluid fxFlex="38%" >
            <mdc-text-field
              formControlName="secondClub"
              label = "Club"
              outlined
              readonly
              (click)= "onClub('secondClub')"
            >
          </mdc-text-field>
        </mdc-form-field>
        <mdc-form-field  fluid fxFlex="10%" >
            <img *ngIf="divisionForm.value.secondClub" mdcSelectIcon [src]="divisionForm.value.secondClubUrl"  class="proportional-image">
        </mdc-form-field>
      </div>
      <div  fxLayout="row" fxLayoutGap="9px grid" *ngIf="divisionForm.value.secondContender" >
          <mdc-form-field fluid fxFlex="12%">
              <mdc-text-field
              formControlName="thirdOrder"
              outlined
              readonly
              type="number"
              number
              pattern="\d+"
            ></mdc-text-field>
          </mdc-form-field>
          <mdc-form-field fluid fxFlex="38%" >
              <mdc-text-field
              formControlName="thirdContender"
              label = "Name"
              outlined
            ></mdc-text-field>
          </mdc-form-field>
          <mdc-form-field  fluid fxFlex="38%" >
              <mdc-text-field
                formControlName="thirdClub"
                label = "Club"
                outlined
                readonly
                (click)= "onClub('thirdClub')"
              >
            </mdc-text-field>
          </mdc-form-field>
              <mdc-form-field fluid fxFlex="10%" >
              <img mdcSelectIcon *ngIf="divisionForm.value.thirdClub" [src]="divisionForm.value.thirdClubUrl"  class="proportional-image">
            </mdc-form-field>
        </div>


</form>
