<mdc-top-app-bar fixed >
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Archery Timer">
      <div fxHide.gt-xs>
        <button mdcTopAppBarNavIcon (click)="onToggleSidenav()">
          <mdc-icon>menu</mdc-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          <mdc-ripple [attachTo]="logo">
            <img
              #logo
              alt="Home"
              height="40"
              src="assets/logo.svg"
              title="Home"
              width="40"
            />
          </mdc-ripple>
        </a>
      </div>
      <!-- <div >
         <button mdcTopAppBarNavIcon routerLink='/'>
          <mdc-icon svgIcon="logo"></mdc-icon>
        </button>
      </div> -->
      <!-- <mdc-top-app-bar-title routerLink='/'>Archery Timer</mdc-top-app-bar-title> -->
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section  align="end" >
      <div fxLayout fxLayoutGap="20px" fxHide.xs>
        <a *ngIf="(isAuth$ | async) && !(isTimerRunning$ | async)" routerLink="/timer/generate" class="baritemlink" mdcButton mdcTopAppBarActionItem>Load</a>
        <a *ngIf="(isAuth$ | async) && (currentTimer$ | async) && !(isTimerRunning$ | async)" class="baritemlink"  mdcButton mdcTopAppBarActionItem (click)="onClear()">Clear</a>
        <a *ngIf="(isAuth$ | async) && (currentTimer$ | async) && !(isTimerRunning$ | async)" class="baritemlink"  mdcButton mdcTopAppBarActionItem (click)="onSetOrder()">Order</a>
        <a *ngIf="!(isAuth$ | async) && !(isInLogin$ | async)" routerLink="/auth/login" class="baritemlink" mdcButton mdcTopAppBarActionItem>Login</a>
        <a *ngIf="(isAuth$ | async)" class="baritemlink" mdcButton mdcTopAppBarActionItem (click)="onLogout()">Logout</a>
        <mdc-icon  mdcTopAppBarActionItem (click)="profileMenu.open = !profileMenu.open">more_vert</mdc-icon>
        <div mdcMenuSurfaceAnchor #menuAnchor>
          <mdc-menu #profileMenu [anchorElement]="menuAnchor"  anchorCorner="bottomEnd">
            <mdc-list>
                <a mdc-list-item  *ngIf="(currentTimer$ | async)" routerLink="/timer/panel" >Panel view</a>
                <mdc-list-divider  *ngIf="(currentTimer$ | async)"></mdc-list-divider>
                <a mdc-list-item *ngIf="(isAuth$ | async) "  routerLink="/timer/colors" >Colors</a>
                <a mdc-list-item *ngIf="(isAuth$ | async)"  routerLink="/timer/sound" >Sounds</a>
                <a mdc-list-item *ngIf="(isAuth$ | async)" routerLink="/timer/log" >Logs</a>
                <a mdc-list-item *ngIf="(isAuth$ | async)" routerLink="/swagger" >API</a>
                <mdc-list-divider *ngIf="(isAuth$ | async)"></mdc-list-divider>
                <mdc-list-item>{{version}}</mdc-list-item>
            </mdc-list>
          </mdc-menu>
        </div>
      </div>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

