input[type="file"]
 {
   visibility: hidden;
 }

 .image-preview {
  height: 5rem;
  margin: 1rem 0;
 }

 .image-preview img {
   object-fit: contain;
   height: 100%;
 }

//  .proportional-image {
//   object-fit: contain;
//   max-width: 200px;
//   width:100%;
//   height:100%;
//   // width:100%;
//   // height:100%;
// }
