<mdc-dialog>
    <mdc-dialog-container>
        <mdc-dialog-surface>
          <mdc-dialog-title>{{dialogTitle}}</mdc-dialog-title>
          <mdc-dialog-content>
             <form [formGroup]="form"
              id="form"
              autocomplete="off"
              (ngSubmit)="onSave()">
              <mdc-form-field  fluid>
                <mdc-text-field
                label="Name"
                outlined
                required
                formControlName="name"
                >
              </mdc-text-field>
              <mdc-helper-text validation>*Required</mdc-helper-text>
            </mdc-form-field>
            <mdc-form-field fluid class="image-preview">
              <img *ngIf="imagePreview && imagePreview !== ''" [src]="imagePreview" [alt]="form.value.name" class= "proportional-image" (click) = "this.selectImage()">
              <button  *ngIf="!(imagePreview && imagePreview !== '')" mdc-button type="button" (click)="this.selectImage()">Pick Image</button>
              <!-- <button  mdc-button type="button" (click)="filePicker.click()">Pick Image</button>
              <input type="file" #filePicker (change)="onImagePicked($event)">
                <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
                <img [src]="imagePreview" [alt]="form.value.name">
              </div> -->
           </mdc-form-field>
          </form>
          </mdc-dialog-content>
          <mdc-dialog-actions>
              <button  *ngIf="mode === 'update'" mdcDialogButton (click)="onDelete()">delete</button>
              <button mdcDialogButton mdcDialogAction="close">Close</button>
              <button mdcDialogButton form="form"  [disabled]="!form?.valid" >Save</button>
            </mdc-dialog-actions>
        </mdc-dialog-surface>
    </mdc-dialog-container>
</mdc-dialog>


