<section class="new-timer">
  <form [formGroup]="timerForm"
        id="timerForm"
        autocomplete="off"
        fxLayout
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        (ngSubmit)="onAddTimer()"
  >
    <mdc-card fxFlex.xs="100%" fxFlex="400px" style="padding: 1rem;">
      <div fxLayoutAlign="center" class="new-timer__primary">
        <h2 class="new-timer__title" mdcHeadline6>New Timer</h2>
      </div>
      <div style="margin-bottom:20px">
        <mdc-form-field fluid >
          <mdc-select outlined
                      formControlName="timer_type"
                      placeholder="Type"
                      >
            <option *ngFor="let timer_type of timer_types" [value]="timer_type" >
              {{timer_type}}
            </option>
          </mdc-select>
        </mdc-form-field>
      </div>
      <mdc-form-field fluid >
        <mdc-text-field
          label="Name"
          outlined
          formControlName="name"
        ></mdc-text-field>
        <mdc-helper-text validation>*Required</mdc-helper-text>
      </mdc-form-field>
      <div fxLayoutGap="10px">
        <mdc-form-field fluid fxFlex="50" *ngIf="timerForm.controls['timer_type'].value === 'tournament'">
          <mdc-text-field
            type="number"
            formControlName="rounds"
            label="Rounds"
            outlined
            step="1"
            pattern="\d+"
          ></mdc-text-field>
          <mdc-helper-text validation>*Required</mdc-helper-text>
        </mdc-form-field>
        <mdc-form-field fluid fxFlex="50" *ngIf="timerForm.controls['timer_type'].value === 'tournament' ||
                                                 timerForm.controls['timer_type'].value == 'warming' ">
          <mdc-text-field
            type="number"
            formControlName="ends"
            label="Ends"
            outlined
            pattern="\d+"
          ></mdc-text-field>
          <mdc-helper-text validation>*Required</mdc-helper-text>
        </mdc-form-field>
      </div>
      <div>
        <mdc-form-field fluid fxFlex="50" *ngIf="timerForm.controls['timer_type'].value === 'playoff' ">
          <mdc-text-field
            type="number"
            formControlName="min_number"
            label="Goal Number"
            outlined
            pattern="\d+"
          ></mdc-text-field>
          <mdc-helper-text validation>*Required</mdc-helper-text>
        </mdc-form-field>
      </div>
      <div fxLayoutGap="10px">
       <mdc-form-field fluid fxFlex="50" *ngIf="timerForm.controls['timer_type'].value === 'tournament' ||
                                               timerForm.controls['timer_type'].value === 'warming' ||
                                               timerForm.controls['timer_type'].value === 'playoff'">
          <mdc-text-field
            type="number"
            formControlName="letters"
            label="Letters"
            outlined
            number
            pattern="\d+"
          ></mdc-text-field>
          <mdc-helper-text validation>*Required</mdc-helper-text>
        </mdc-form-field>
        <mdc-form-field fluid fxFlex="50">
          <mdc-text-field
            type="number"
            formControlName="duration"
            label="Time(s)"
            outlined
            number
            pattern="\d+"
          ></mdc-text-field>
          <!-- <mdc-helper-text validation
            >Time in seconds for each end</mdc-helper-text
          > -->
        </mdc-form-field>
      </div>
    <mdc-card-actions>
      <mdc-linear-progress *ngIf="(isLoading$ | async)"></mdc-linear-progress>
        <button *ngIf="!(isLoading$ | async)" mdc-button type="submit" mat-button [disabled]="!timerForm.valid">
          Create
        </button>
      </mdc-card-actions>
    </mdc-card>
  </form>
</section>
