<section class="load-timer" fxLayout fxLayoutAlign="center center">
  <mdc-card  fxFlex.xs="100%" fxFlex="400px" style="padding: 1rem;">
    <app-timer-list></app-timer-list>
  </mdc-card>
</section>
