<div style="background-color: black">
  <svg viewBox="0 0 388 194">
    <circle *ngFor="let dummy of ' '.repeat(numRows*numCols).split(''), let i = index"
        [attr.cx]="3 + getColPosition(i)*3"
        [attr.cy]="3 + getRowPosition(i)*3"
        r="1.5"
        stroke="black"
        stroke-width="0.1"
        [attr.fill]="getColor(i)" />
  </svg>
</div>

