<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Add Log Entry</mdc-dialog-title>
      <mdc-dialog-content style="padding-top:10px;">
        <form [formGroup]="logForm" id="logForm" (ngSubmit)="submit()" autocomplete="off">
            <mdc-form-field fluid>
              <mdc-text-field
                type="string"
                formControlName="logDescription"
                label="Description"
                outlined
              ></mdc-text-field>
            </mdc-form-field>
        </form>
      </mdc-dialog-content>
      <mdc-dialog-actions>
        <!-- <mdc-linear-progress *ngIf="(isLoading$ | async)"></mdc-linear-progress> -->
        <button mdcDialogButton mdcDialogAction="close">Cancel</button>
        <button mdcDialogButton form="logForm">Create</button>
      </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
