<div fxLayout="column" fxLayout.xs="column"  fxLayoutAlign="center center"  fxLayoutGap="10px">
  <div  fxLayoutGap="10px">
    <button mdc-button primary raised  (click)="onNewEntry()">
      <mdc-icon >add</mdc-icon>Add log entry
    </button>
    <button mdc-button secondary raised (click)="onClear()">
      <mdc-icon >delete</mdc-icon>Clear
    </button>
  </div>
  <div fxLayout="row">
        <!-- <mdc-card fxFlex="800px"  style="padding: 1rem;">
          <div  *ngFor="let log of (log$ | async); let i = index">{{log}}</div>
        </mdc-card> -->


    <ng-container *ngIf="log$ | async; let logItems">
        <div *ngIf="logItems.length > 0">
          <mdc-data-table>
            <table mdcDataTableTable>
              <thead>
                <tr mdcDataTableHeaderRow>
                  <th mdcDataTableHeaderCell>Time</th>
                  <th mdcDataTableHeaderCell>Timer</th>
                  <th mdcDataTableHeaderCell>Round</th>
                  <th mdcDataTableHeaderCell>End</th>
                  <th mdcDataTableHeaderCell>Action</th>
                  <th mdcDataTableHeaderCell>Description</th>
                </tr>
              </thead>
              <tbody mdcDataTableContent>
                <tr mdcDataTableRow *ngFor="let log of (log$ | async).reverse()">
                  <td mdcDataTableCell>{{log.time}}</td>
                  <td mdcDataTableCell >{{log.timer_hash}}</td>
                  <td mdcDataTableCell >{{log.round}}</td>
                  <td mdcDataTableCell >{{log.end}}</td>
                  <td mdcDataTableCell >{{log.action}}</td>
                  <td mdcDataTableCell >{{log.description}}</td>
                </tr>
              </tbody>
            </table>
          </mdc-data-table>
        </div>
        <h4 *ngIf="logItems.length == 0" mdcHeadline4 class="no-logs">No hay logs que mostrar</h4>
    </ng-container>

  </div>
</div>
