
<div  fxLayout="row" fxLayout.xs="column" >
  <div fxFlex="30%" fxFlex.xs="100" class="timer-list" >
    <app-timer-list ></app-timer-list>
  </div>
  <div *ngIf="(timerTemplate$ | async) !== 'classification'" fxFlex="70%" xFlex.xs="100">
    <app-new-timer></app-new-timer>
  </div>
  <div *ngIf="(timerTemplate$ | async) === 'classification'" fxFlex="70%" xFlex.xs="100">
    <app-classification></app-classification>
  </div>
</div>
