
<div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center center"  fxLayoutGap="10px">
  <div>
    Server Time: {{systemDate | date:'medium' }}
  </div>
  <div  fxLayoutGap="10px">
    <button mdc-button primary raised  (click)="onSyncDateTime()">
        Sync DateTime
    </button>
  </div>
